.grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  justify-content: center;
  grid-gap: .5rem;
}

.grid-images--title {
  font-family: 'Comfortaa', cursive;
  padding: 2rem 1rem 1rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #eee;
}

.card-image {
  background: #eee;
  position: relative;
  &:hover > .content-tags {
    opacity: 1;
    overflow: visible;
    transition: opacity .3s;
  }
}

.card-image-image {
  width: 100%;
  height: 200px;

  .card-image-img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.content-tags {
  position: absolute;
  background: rgba(#000,.5);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s;
  padding: 0 1rem;
  p {
    color: white;
    font-weight: 300;
    position: relative;
    font-family: 'Comfortaa', cursive;
    font-size: .7rem;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    span {
      color: red;
      position: relative;
      float: right;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}

.botones-container {
  width: 30%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and(max-width:780px) {
    width: 60%;
  }
}

.pagina-actual {
  width: 35px;
  height: 35px;
  margin-bottom: 0;
  background: rgb(8, 24, 37);
  color: #eee;
  border-radius: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-np {
  border-radius: 0px;
  border: 0px;
  font-family: 'Comfortaa', cursive;
  color: rgb(8, 24, 37);
  font-weight: bold;
}
